html{box-sizing:border-box}

*{margin:0;padding:0;box-sizing:inherit;}

body{background:url("../Imagenes/fondo.jpg");background-size:cover}

#contenedor{width:830px;margin: 0 auto;font-family:Arial;background:#185512}

#cabecera{width:100%;height:97px;background:url("../Imagenes/cabacera.jpg")}

#menu{overflow:hidden; background:url("../Imagenes/fondo_menu.jpg");height:33px}

#menu ul{list-style:none;font-weight:bold}

#menu ul li{float:left;}

#menu ul li a{text-decoration:none; color:white;display:block;padding:0 0.5em;line-height:33px}

#menu ul li a:hover{background:#c8dcc1;height:29px;color:black}

#login{background:#0f340b;margin:1em 0;overflow:hidden;width:100%}

#login form > div{border: 2px solid red}

#logiz{}

#nomlabel{color:white}

#nominput{}

#logce{}

#conlabel{}

#coninput{}

#logde{}

#cuerpo{width:100%;overflow:hidden;padding:0 0.25em 1em}

#cuerpo > div{float:left;}

#cuerpo p img{width:100%}

#cuerpo p img.mitad{width:50%;float:left}

h4{color:white;background:#0f340b;border-top-right-radius:5px}

#izquierda{width:60%}

#foto{border:1px solid black}

#registro{}

#derecha{width:37%;border:1px solid black;margin-left:3%}

#equipos p{border:1px solid black}

#publi{width:100%}

#publi p{}

#pie{height:66px;background:url("../Imagenes/fondo_pie.jpg");text-align:center;padding:1em;color:white;font-sizze:0.8em;line-height:1.5em}

