html{box-sizing:border-box;height:100%; width:100%}

body{}

*{margin:0;padding:0;box-sizing:inherit}

div{}

.grande{height:33.333333%; width: 33.333333%; float:left;}

.casilla{font-size:3vh}

.arriba .casilla{height:14.28571429%; width:33.333333%; float:left; border:1px solid black}

.abajo .casilla{height:14.28571429%; width:33.333333%; float:left; border:1px solid black}

.derecha .casilla{height:33.333333%; width:14.28571429%;float:left; border:1px solid black}

.izquierda .casilla{height:33.333333%; width:14.28571429%;float:left; border:1px solid black}

.r180{transform: rotate(180deg);}

.textcenter{text-align:center}

.textright{text-align:right}

.red{background-color:red}

.blue{background-color:blue}

.green{background-color:green}

.yellow{background-color:yellow}
