html{box-sizing:border-box}

*{padding:0;margin:0;box-sizing:inherit}

fieldset{width:48%;float:left;margin:3% 1%}

div{margin:5% 3%;width:100%}

label{display:block;}

button{margin:0 2%}

.smll{width:15%}

.med{width:35%}

.big{width:50%}
